<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>

    <title>Home - Express Routing Exercise</title>
  </head>

  <body style="font-size:20px; padding:10px;">
    <h3>Home</h3>
    <a href="/login">Login</a>
    <label>|</label>
    <a href="/register">Register</a>
  </body>
</html>
