<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Register - Express Routing Exercise</title>
  </head>

  <body>
    <h3>Create Account</h3>
    <form class="form-inline" action="/register?_method=PUT" method="POST">
      <div class="first-name">
        <h5>First Name:</h5>
        <input class="form-control" type="text" name="_method" placeholder="Enter First Name">
      </div>
      <div class="last-name">
        <h5>Last Name:</h5>
        <input class="form-control" type="text" name="_method" placeholder="Enter Last Name">
      </div>
      <div class="email">
        <h5>Email:</h5>
        <input class="form-control" type="email" name="_method" placeholder="Enter Email">
      </div>
      <div class="password">
        <h5>Password:</h5>
        <input class="form-control" type="password" name="_method" placeholder="Enter Password">
      </div>
      <div class="register">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </body>
</html>
