<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Welcome - Express Routing Exercise</title>
  </head>

  <body>
    <h3>Welcome!</h3>
    <form class="form-inline" action="/logout?_method=DELETE" method="POST">
      <div class="logout">
        <button type="submit" class="btn btn-primary">Logout</button>
      </div>
    </form>
  </body>
</html>
